.bg-footer
	background:$purple url('../img/bg-footer.png') no-repeat 50% 100%
	height:440px
	width:100%
	border-top:10px solid $darkpurple
	
	@media $mobile-max
		height:360px
	
	.items-footer
		position:relative
		top:40px
		
		@media $mobile-max
			text-align:center
			top:60px
		
	.strong-text
		text-align: none
		list-style: none
		padding-left: 0%
		margin-top: 0%
		font-family:$as
		color:$white
		font-size:30px
		font-weight:700
		
		li
			font-family:$as
			color:$white
			font-size:30px
			font-weight:700
			
		
		@media $mobile-max
			display:none

	.text-footer
		margin-top:30px
		font-size:14px
		color:$white
		font-family:$as
		font-weight:400
		word-spacing:1px
		line-height:18px
		
	.news-text
		margin-top:0
		margin-bottom:20px
		width:115%
		
		@media $mobile-max
			display:none

	.topics-footer
		margin-top:20px
		margin-left:20px
		
		@media $mobile-max
			display:none
		img
			cursor:pointer

		.strong-text
			margin-bottom:20px
			
			li
				margin-bottom:20px
				color: $white
		
	.list-items-footer
		margin-top:20px
		font-size:14px
		font-family: $as
		list-style-type:disc
		margin-left:20px
		text-align: none
		padding-left: 0%
		
		li
			margin-bottom:7px
			color:$white
			line-height: 17px
		
.copyright
	background:$white
	outline:10px solid rgba(255,255,255,.4)
	height:40px
	font-family:$as
	font-size:14px
	
	.text-copyright
		margin:2px
		position:relative
		top:11px
		
		@media $mobile-max
			top:20px
			display:grid
			text-align:center
			line-height:20px

	.logo-copyright
		float:right
		position:relative
		bottom:10px
				
		img
			position:relative
			top:3px
			left:4px
			
		@media $mobile-max
			top:36px
			text-align:center
			float:none
			margin-bottom:65px
			
.footer-topics-1
.footer-topics-2
	@media $mobile-max
		display:none
		