#form-ajuda
	background:url('../img/bg-form-ajudar.jpg') no-repeat center 0%
	margin-bottom:80px
	background-size: cover
	
	@media $mobile-max
		background:url('../img/bg-form-ajudar-mobile.jpg') no-repeat
		background-size: cover
		margin-bottom:0px
		
	.items-form
		font-family:$as
		margin-top:37px
		
		@media $mobile-max
			margin-bottom:20px
			text-align:center
	
	h4
		color:$purple
		font-size:60px
		margin-bottom:50px
		
		@media $mobile-max
			font-size:32px
			display:grid
		
	p
		font-size:16px
		width:64%
		text-align:justify
		margin-bottom:50px
		line-height:20px
		
		@media $mobile-max
			width:76%
			margin-left:12%
			text-align:center
			line-height:20px

	.img-form-help
		width:410px
		display:inline-block
		position:absolute
			
		img
			position:absolute
			top:-306px
			left: -38px

	.fields-help
		width:70%
		display:inline-block
		position:relative
		bottom:30px
		
		@media $mobile-max
			display:none
		
		.input-small
			padding:10px 11px
			margin-right:19px
			margin-bottom:20px
			width:30%
			border-radius:0 0 10px 0
			border:none
			
			@media $mobile-max
				width:100%
			
		textarea
			width:95%
			
			@media $mobile-max
				width:100%		
	
			
		.btn-submit-help
			margin-top:20px
			float:right
			margin-right:44px
			margin-bottom:20px
			background:$purple
			color:$white
			font-size:18px
			padding:10px 106px
			text-transform:uppercase
			font-weight:700
			border:none
			border-radius:0 0 10px 0
			transition:.3s ease-in-out	
					
			img
				position:relative
				top:3px
				right:2px

			&:hover
				transition:.3s ease-in-out
				background:$darkpurple
			
			@media $mobile-max
				float:none
				padding:10px 60px
				width:100%
				
		
.form-contact
		width:57%
		position:relative
		z-index:4
		
		@media $mobile-max
			width:90%
			left:6%
			z-index:1

	.input-form-contact
		width:46%
		margin-right:26px
		margin-bottom:20px
		border-radius:0 0 8px 0
		padding:10px 10px
		border:1px solid $border-form
		
		@media $mobile-max
			width:95%
			border-radius:0 0 10px 0
			
	select
		width:46%
		border:1px solid $border-form
		cursor:pointer
		background:url('../img/icons/icon-arrow.png') no-repeat 95% 
		-webkit-appearance:none
		appearance:none
		
		@media $mobile-max
			padding:10px 10px
			width:95%
			border-radius:0 0 10px 0
			margin-bottom:20px
			
	textarea
		width:96%	
		border:1px solid $border-form
		border-radius:0 0 10px 0
		
		@media $mobile-max
			width:95%
		
	.btn-submit-contact
		padding:8px 140px
		margin-top:20px
		background:$purple
		text-transform:uppercase
		color:$white
		font-size:18px
		border-radius:0 0 10px 0
		font-weight:700
		border:none
		transition:.3s ease-in-out

		&:hover
			transition:.3s ease-in-out
			background:$darkpurple

		@media $small-mobile-max
			padding:8px 33% 
		
		@media $mobile-max
			padding:8px 36%
			font-size:16px
			font-weight:700
			letter-spacing:1px

		img
			position:relative
			top:4px
			right:3px

	.input-news
		width:223px
		padding:10px 88px 10px 10px
		border-radius:0 0 10px 0
		border:3px solid $white
		background:rgba(255,255,255, 0.75)
		
	.btn-news
		position:relative
		left:71%
		bottom:36px
		text-transform:uppercase
		font-weight:700
		padding:4px
		background:none
		border:none

		img
			margin-left:5px
			position:relative
			top:2px
			
.form-help
	.input-help
		width:100%
		margin-bottom:10px
		border:none
		border-radius: 0 0 5px 0 
		
	.input-small
		width:47%
		
		@media $small-mobile-max
			width:100%

		&:nth-child(4)
			margin-right:10px
		
	.textarea-help
		width:100%
		
	.btn-send
		float:right
		background:$purple
		color:$white
		text-transform:uppercase
		font-weight:700
		font-size:16px
		border:none
		border-radius:0 0 10px 0
		padding:7px 22px
		margin-top:11px
		
		img
			top:4px
			right:4px
			z-index:1		

.btn-show-contact
	display:none
	background:$purple
	color:$white
	font-size:18px
	padding:10px 10%
	text-transform:uppercase
	font-weight:700
	border:none
	border-radius:0 0 10px 0
	margin-top:20px
	position:relative
	bottom:40px	
	
	@media $mobile-max
		display:inline-block

	img
		position:relative
		top:4px
		right:6px
		
.img-form-help,
.img-help
	@media $mobile-max
		display:none