.variant
	border 0
	background-color transparent
	padding 0 
	

.open-question
	background-color $purple 
	color $white
	font-size 30px 
	color $white 
	padding 0 
	font-weight 500
	text-align center
	height 40px 
	width 40px 
	border-radius 50%
	border 2px solid $purple 
	absoluteVertical()
	right 40px
	text-align center
	
	&:before,
	&:after
		absoluteCenter()
		opacity 0
		transition all .2s ease
		
	&:before
		content '-'

	&:after 
		content '+'
	
	@media $mobile-max
		width:50px
		height:50px