.light
    color:$white !important
   
.border
	margin-top:40px
	@media $mobile-max
	
		margin-bottom:40px
		
linearGradient($startColor, $endColor)
	background $startColor
	background -moz-linear-gradient(top, $startColor 0%, $endColor 100%)
	background -webkit-gradient(linear, left top, left bottom, color-stop(0%, $startColor), color-stop(100%, $endColor))
	background -webkit-linear-gradient(top, $startColor 0%, $endColor 100%)
	background -o-linear-gradient(top, $startColor 0%, $endColor 100%)
	background -ms-linear-gradient(top, $startColor 0%, $endColor 100%)
	background linear-gradient(to bottom, $startColor 0%, $endColor 100%)
	filter unquote("progid:DXImageTransform.Microsoft.gradient(startColorstr='" + $startColor + "', endColorstr='" + $endColor + "', GradientType = 0)")

$navbarStartColor = $white
$navbarEndColor = $purple


.cms-wrap
	p, li, span 
		font-size  14px 
		line-height 26px
		color $gray
	
	h2, h3, h4, h5, h6 
		&:not(.section-title)
			font-size 18px 
			line-height 22px
			color $gray
			font-weight 500
		
	ul 
		li 
			&:before
				margin-top 10px
			
	h2, h3, p, ul 
		&:not(:last-child)
			@media $tablet-max
				margin-bottom 20px 
				
			@media $small-desktop-min
				margin-bottom  30px
				

ul
	text-align: justify
	list-style: circle
	padding-left: 2%
	margin-top: 1%
	margin-bottom: 1%
	
	@media $mobile-max
		padding-left: 5%
	
	li
		
		font-family: $as
		font-size: 16px
		color: $gray
		line-height: 25px