	
	.icon-menu-mobile
		display:none
		background:url('../img/icons/icon-menu-mobile.png') no-repeat center center
		float:right
		position:relative
		bottom:60px
		right:10px
		height:48px
		width:50px
		
		@media $mobile-max
			display:block
			

	.icon-close-mobile
		display:none
		background:url('../img/icons/icon-close-mobile.png') no-repeat center center
		float:right
		position:relative
		bottom:57px
		right:10px
		height:48px
		width:50px
		
		@media $mobile-max
			display:none
		
		
	.is-active
		transition:.2 ease

	.logo-menu
		position:absolute
		background:url('../img/logo-alphaville.png') no-repeat
		width:309px
		height:100px
		top:55px
		
		@media $mobile-max
			background:url('../img/logo-fixed-menu.png') no-repeat
			top:14px
			left:22px

	.main-logo
		position:relative
		height:85px
		top:14px
		width:26%
		background:url('../img/logo-alphaville.png') no-repeat

		@media $mobile-max
			left:10px
			top:11px
			background:url('../img/logo-fixed-menu.png') no-repeat
			width:82%
			height:51px
			
		@media $small-desktop-minmax
			left:20px
			top:10px

	.items-menu
		display:inline-block
		width:86%
		position:relative
		bottom:25px
		left:35%
		list-style: none
		padding-left: 0%
		margin-top: 0%
		
		li
			color: initial
			line-height: initial
		
		@media $small-desktop-minmax
			width:74%
			left:31%
			
		@media $mobile-max
			display:none
		
		.menu-item
			display:inline-block
			width:15%
			font-family:$as
			font-size:22px
			text-align:center
			padding:10px
			border:2px solid transparent
			border-radius:0 0 10px 0
			transition: all .3s ease
			
			@media $small-desktop-minmax
				font-size:20px
		
			&:hover
				font-weight:700
				transition:.1s ease-in-out
				border:2px solid purple
				background:$white
				color: $black
				// text-shadow:1px 0 0 $gray

			&:nth-child(2)
				width:20%
				
					
		.menu-item-has-children
			background:url('../img/icons/icon-arrow.png') no-repeat 96% 58%
	
			&:hover
				background:url('../img/icons/icon-arrow.png') no-repeat 96% 58% $white

				
	.menu-item-40		
		.sub-menu
			position:absolute
			border:3px solid $purple
			border-radius:0 0 20px 0
			width:27%
			left:11%
			top:45px
			background:$white
			z-index:1
			display:none
			list-style: none
			margin-top: 0%
			font-size: 20px
			line-height: 15px
	

			&:after
			&:before
				bottom: 100%
				left: 50%
				border-width: 0 9px 9px 
				border-color:transparent transparent $purple transparent
				border-style:solid
				content:" "
				position:absolute
				pointer-events:none
				
			li

				position:relative
				list-style-type:none
				color:$purple
				font-weight:700
				width:90%
				background:none
				border:none
				border:3px solid transparent
				font-size:17px
				line-height:15px
				
				&:first-child
					margin-top:20px
				
				&:last-of-type
					margin-bottom:20px

				&:nth-child(2)
					width:90%

					&:after
					&:before
						display:none
			
	.menu-item-39		
		.sub-menu
			position:absolute
			border:3px solid $purple
			border-radius:0 0 20px 0
			width:25%
			left:60%
			top:39px
			background:$white
			z-index:1
			display:none

			&:after
			&:before
				bottom: 100%
				left: 50%
				border-width: 0 9px 9px 
				border-color:transparent transparent $purple transparent
				border-style:solid
				content:" "
				position:absolute
				pointer-events:none
				
			li
				list-style-type:none
				color:$purple
				font-weight:700
				background:none
				border:2px solid transparent
				height:40px
				width:90%
				font-size:17px
				line-height:15px
				
				&:hover
					border:2px solid $purple
				
				&:first-child
						margin-top:20px
					
				&:last-of-type
					margin-bottom:20px

			.menu-item-87
				list-style-type:none
				color:$purple
				font-weight:700
				background:none
				border:none
				margin-top:15px
				margin-bottom:5px
				width:90%
							
			.menu-item-89
				list-style-type:none
				color:$purple
				font-weight:700
				background:none
				border:none
				margin-top:15px
				margin-bottom:5px
				width:90%
				
			
.cover-menu
	position:absolute
	background:$purple
	height:1000px
	width:80%
	top:0
	display:none
	z-index:4			
	
	.main-nav-mobile
		width:85%
		margin-top:6%
		margin-left:5%
		
	.items-menu-mobile
		font-family:$as
		font-weight:700
		font-size:18px
		color:$white
		text-align: none
	
		padding-left: 0%
		margin-top: 0%
		
		li
			border-bottom:1px solid rgba(255,255,255,.1)
			height:50px
			list-style: none
			color: $white
			
		a
			position:relative
			top:20px
			margin-left:18px

		.sub-menu
			position:relative
			bottom:18px
			height:800px
		
		.menu-item-231,
		.menu-item-110
			background:url('../img/icons/icon-arrow-slider-special.png') no-repeat 100% 50%
			

			
.menu-active
	transform:translateX(150%)
	
.menu-inactive
	transform:translateX(-150%)			

.outside-menu
	position:absolute
	background:$gray
	width:100%
	height:1000px
	top:0
	opacity:.8
	z-index:-1
	display:none
	
.main-nav
	margin-top:74px
	
.menu-item-242
	width:90% !important