*
	font-family:$as

.bg-special
	background:url('../img/bg-especialidades2.jpg') no-repeat

.top-main-title-align
	height:302px
	
	@media $mobile-max
		height:129px
		margin-top:75px
	
	img
		position:relative
		z-index:-1
		width: 100%
		
		@media $mobile-max
			height:129px
		
.top-main-title
	height:312px
	
	img
		z-index:-1
		
	@media $small-desktop-minmax
		height:250px
		

.bg-first
	display:none

.title-post
	color:$white
	font-family: $as
	position:relative
	bottom:190px
	
	h1
		font-size:40px
		font-weight:700
		line-height:50px
		
		@media $mobile-max
			text-align:center
	p
		font-size:70px
		font-weight:700
		
		@media $mobile-max
			font-size:32px
			text-align:center
	
	@media $mobile-max
		bottom:120px

.main-bg
	margin-top:0px
	position:relative
	z-index:-2
	
	@media $small-desktop-minmax
		margin-top:30px
		
.box-page
	top:-2px
	
	@media $mobile-max
		top:71px
	
.breadcrumb
	margin-top:7px
	margin-bottom:40px
	position:relative
    padding:8px 15px
    font-size:11px
    list-style:none
    background-color:$white
    border-radius:4px

	a 
    	font-size:14px
    	font-weight:400
	    text-decoration:none

    @media $mobile-max
		display:none

.bar-page
	margin-top:-10px
	margin-left:0px
	    
    @media $mobile-max
		display:none
	    
.arrow-breadcrumb
	margin-left:5px
	margin-right:5px
	position:relative
	top:2px
	
.text-breadcrumb
	font-family:$as
	font-weight:400
	font-size:11px
	display:inline-block
	
	&:first-letter
		text-transform: uppercase


.text-breadcrumb-active
	font-family:$as
	font-weight:700
	font-size:11px
	display:inline-block
	
	&:first-letter
		text-transform: uppercase
	
.desc-post
	font-family:$as
	font-size:14px
	font-weight:400
	text-align:justify
	margin-bottom:40px
	line-height:20px
	color:$gray
	
.bg-special
	background:url('../img/bg-special.jpg')no-repeat center center
	width:100%
	height:100%
	margin-bottom:40px

.box-special
	border:1px solid $purple
	margin-right:6%
	margin-bottom:5%
	border-radius:0 0 20px 0
	background:$white
	height:360px
	
	&:nth-child(4)
		margin-right:0%
	
	&:nth-child(8)
		margin-right:0%
	
	@media $mobile-max
		width:80% !important
		height:360px
		position:relative
		left:11%
		
.border-image
	border:4px solid $purple
	position:relative
	right:15%
	width:210px
	height:137px
	border-radius:0 0 23px 0
	background:$white
	
	.img-aside
		border-radius:0 0 19px 0
		height:100%
		width:100%

.special-item
	.text-box
		font-family:$as
		
		p
			margin-top:10px
			margin-bottom:10px
			margin-left:5px
			width:93%
			line-height:13px

	.title-box
		font-weight:400
		font-size:28px
		margin-top:20px
		margin-bottom:30px
		
		strong
			font-weight:700
			font-size:21px

.line-box
	height:1px
	width:236px
	background:rgba(230, 231,232, .8)
	position:relative
	top:191px
	right:10px
	
	@media $mobile-max
		width:109%
	
.boxes-special
	@media $mobile-max
		width:80%
		position:relative
		left:11%
		
.text-swipe
	font-family:$as
	font-size:16px
	text-align:center
	display:none
	
	strong
		font-weight:700
		
	@media $mobile-max
		display:block
		
.content
	p
		margin-bottom:25px
		margin-top:0
		color:$gray
		font-size:16px
		line-height:23px
		
		&:first-of-type
			margin-top:7%
			
	h2,h3,h4
		font-weight:700
		color:$purple
		margin-bottom:20px
		
	h2
		font-size:22px
		
	h3
		font-size:18px
		
	h4
		font-size:16px

.align-desc-special
	display:inline-block
		
	@media $mobile-max
		text-align:center
	
	.subtitle-full
		font-size:40px
		font-weight:700
		color:$purple
	

#page-especialidade

	.desc-post-full
		@media $small-desktop-minmax
			position:relative
			bottom:105px

	.title-post
		@media $mobile-max
			bottom:90px
			
		@media $small-desktop-minmax
			bottom:140px
			
	.top-main-title-align
		height:298px
		
		img
			@media $mobile-max
				height:129px
				
			@media $small-desktop-minmax
				height:200px
				
		@media $mobile-max
			height:129px
			margin-top:75px
		
	.desc-post-full
		@media $mobile-max
			width:100%
			text-align:center
			
	.desc-default
		@media $mobile-max
			text-align:center
			width:100%

	#form-ajuda
		display:inline-block
		margin-bottom:20px
		
		.items-form
			margin-bottom:20px
			text-align:center
			
		h4
			margin-top:25px
			
		.white-line
			margin-top:-25px
		
		.help
			top:128px
			
#page-especialidades
	
	.desc-post
		@media $mobile-max
			margin-top:90px
			width:90%
			margin-left:5%

	.top-main-title
		@media $small-desktop-minmax
			height:203px
			
	.title-post
		@media $small-desktop-minmax
			bottom:170px

	
	.special-item
		.text-box
			font-family:$as
			
			p
				margin-top:10px
				margin-bottom:10px
				margin-left:5px
				width:93%
				line-height:16px
				font-size: 13px

		.title-box
			font-weight:400
			font-size:28px
			margin-top:20px
			margin-bottom:30px
			
			strong
				font-weight:700
				font-size:21px

	.line-box
		height:1px
		width:236px
		background:rgba(230, 231,232, .8)
		position:relative
		top:191px
		right:10px
		
		@media $mobile-max
			width:109%
	

.diferencial-block
	
	p
		text-align: justify
		color: #58595b
		font-size: 16px
		line-height: 23px
		margin-bottom: 30px
		margin-top: 30px