.slider-hospital
	background:url('../img/bg-slides-hospital.jpg') no-repeat
	width:100%
	background-size: cover
	height:920px
	
	@media $mobile-max
		height:600px

.text-hospital
	text-align:center
	margin-top:40px
	margin-bottom:40px
		
.hospital
	top:150px
	width:100%
	
.title-slider
	position:relative
	top:60px
	font-family:$as
	
	.title-default
		font-size:70px
		font-weight:700
		color:$white
		
		@media $mobile-max
			font-size:32px
			text-align:center
		
	.light-line
		margin-top:19px

		@media $mobile-max
			display:none

.content-slider
	margin-top:70px
	
	.slick-list
		@media $small-desktop-min
			margin:0 -20px
			padding:130px 50px !important
			
			.desc-slide-hospital
				display: none
					
	.slick-slide
		margin 0 10px
		transition all .3s ease-in-out

		&:not(.slick-current)
			@media $small-desktop-min
			
				filter grayscale(100%)
				transform:scale(0.7)
	
	.slick-current
		
		@media $small-desktop-min
			transform:scale(1.6)	
			position:relative
			z-index:2
			transform-origin:center
			
			& ~ .slick-slide
			
			.desc-slide-hospital
				display: block
			
	.slick-arrow 
		position absolute
		top 63%
		z-index 3
		
		&.slick-prev
			background:url('../img/icons/icon-arrow-slide-hospital.png') no-repeat
			left 0 
			height:60px
			width:50px
			border:none
			font-size:0
			
		&.slick-next
			right 0
			background:url('../img/icons/icon-arrow-slide-hospital.png') no-repeat
			transform:scaleX(-1)
			height:60px
			width:50px
			border:none
			font-size:0
	
	.swipe-white
		text-align:center
		color:$white		
	
	.white-text
		color:$white
		font-size:16px
		line-height:20px
		
		@media $mobile-max
			display:none

	.hospitals
		height:400px
		
		.slides-hospital
			height:100%
			width:100%
			
		.item-hospital
			width:450px
			border-radius:0 0 20px 0
			font-family:$as
			
			p
				text-align:center
				font-weight:400
				color:$white
				position:relative
				top:20px
				
			.desc-slide-hospital
				font-size:11px
				
				@media $mobile-max
					font-size:14px
					width:100%
					height:70px
					line-height:21px
					text-align:center
					position:relative

			.img-hospital
				img
					border-radius:0 0 50px 0
					height:300px
					

			.logo-hospital
				height:79px
				text-align:center
				
				img
					display:inline-block
					position:relative
					top:5px

.desc-hospital
	margin-top:30px
	font-family:$as
	
	@media $mobile-max
		width:90%
		margin-left:5%

	.subtitle-hospital
		font-size:30px
		font-weight:700
		color:$purple
		margin-bottom:30px
		
		@media $mobile-max
			font-size:24px
			text-align:center
		
	.text-hospital
		font-size:16px
		color:$gray
		line-height:20px
		font-weight:400
		text-align:initial
		
		@media $mobile-max
			text-align:center
			margin-bottom:40px
			
.top-main-title
	
	img
		height:100%
		width: 100%
		
		@media $small-desktop-max
			height:200px
			
		@media $mobile-max
			height:129px
			
	@media $mobile-max
		margin-top:75px
		height:129px
		
#page-hospital
	.title-post
		@media $small-desktop-max
			bottom:130px
			
		@media $mobile-max
			bottom:90px
			
	.top-main-title
		@media $small-desktop-max
			height:203px