.desc-sobre
	width:90%
	
.box-form-help
	background:$purplebox
	border:2px solid $purple
	border-radius 0 0 20px 0
	height:500px
	position:relative
	top:290px
	
	img
		position:relative
		bottom:350px
		z-index:-1
		
	.content-box-help
		font-family:$as
		position:relative
		bottom:380px
		width:80%
		margin-left:10%
		
		.text-help
		
			.title-help
				font-weight:400
				font-size:24px
				color:$purple
				
			.subtitle-help
				font-weight:700
				font-size:40px
				color:$darkpurple
				
			.desc-help
				margin-top:20px
				margin-bottom:20px
				font-weight:400
				line-height:15px
				color:$gray
				font-size:12px
		
.gallery-item
	height:150px
	width:150px
	background:blue
	border-radius:0 0 20px 0
	cursor:pointer
	display:inline-block
	margin-right:7%
	margin-bottom:26px
	transition: .4s ease-in-out
		
	&:hover
		background: rgba(255,255,255,1)
		background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 48%, rgba(250,250,250,1) 53%, rgba(131,42,109,1) 100%)
		background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(48%, rgba(255,255,255,1)), color-stop(53%, rgba(250,250,250,1)), color-stop(100%, rgba(131,42,109,1)))
		background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 48%, rgba(250,250,250,1) 53%, rgba(131,42,109,1) 100%)
		background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 48%, rgba(250,250,250,1) 53%, rgba(131,42,109,1) 100%)
		background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 48%, rgba(250,250,250,1) 53%, rgba(131,42,109,1) 100%)
		background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 48%, rgba(250,250,250,1) 53%, rgba(131,42,109,1) 100%)
		transition: .4s ease-in-out
		
#equipe
	background:$purple
	border-top:15px solid $darkpurple
	font-family:$as
	height:1050px

	// .slick-slide
	// 	@media $mobile-max
	// 		margin-left:50px
	// 		margin-right:97px

.white
	color:$white !important
	
.desc-default
	width:95%
	text-align: justify
	color: #58595b
	font-size: 16px
	line-height: 23px
	margin-bottom: 30px
	margin-top: 30px
		
.box-team
	border:1px solid $lightpurple
	margin-right:5%
	margin-bottom:2%
	border-radius:0 0 20px 0
	background:$white
	height:380px
	
	.border-team-image
		border:4px solid $purple
		margin-bottom:30px
		position:relative
		right:15%
		top:12px
		width:230px
		height:230px
		border-radius:0 0 20px 0
		background:$white

		img
			border-radius:0 0 20px 0	

	.team-box-text
		width:88%
		margin-left:4px
		
	.name-doctor
		font-weight:400
		font-size:24px
		margin-top:20px
		line-height:25px
				
			strong
				font-weight:700
		
	.crm-doctor
		text-transform:uppercase
		font-size:16px
		font-weight:700
		color:$purple
		float:right
		margin-top:20px

#medico-associacao
	background:url('../img/bg-associacoes.jpg') no-repeat center center #f4cee5
	font-family:$as
	border-top:15px solid $lightpurple
	margin-bottom:60px
	
	@media $mobile-max
		border-top:none
		background-position-y:0%
	
	.text-associacao
		position:relative
		top:50px
		
		@media $mobile-max
			top:30px
			
	.text-inline
		color:$purple
		
		strong
			font-size:70px
			font-weight:700
			color:$darkpurple

	.sub
		@media $mobile-max
			top:143px

.box-image
	width:19%
	display:inline-block
	margin-right:4%
	height:160px
	margin-bottom:30px
	
		img
			position:relative
			z-index:4

#page-sobre
	#form-ajuda
		@media $mobile-max
			display:inline-block
	
	.title-post
		@media $small-desktop-max
			bottom:160px

	.top-main-title
		height:272px
		
		@media $small-mobile-max
			height:163
			
		@media $mobile-max
			height:129px
		
		img
			position:relative
			z-index:-1
				
	.desc-full
		width:75%
		margin-top:-7px
		
		@media $small-desktop-max
			margin-top:-79px
			
		@media $mobile-max
			width:100%
			margin-left:2%
			margin-top:90px !important
			
			
	.title-post
		@media $mobile-max
			bottom:116px
			
		h1
			@media $mobile-max
				font-size:32px
		p
			@media $mobile-max
				font-size:28px	
	
	.text-swipe
		@media $mobile-max
			margin-bottom:26px
			
	.img-gallery

		img
			@media $mobile-max
				z-index:2
	
		@media $mobile-max
			display:inherit
	.desc-post
		@media $mobile-max
			font-size:16px
			
	.desc-sobre
		@media $mobile-max
			width:96%
			
	.subtitle-invert
		@media $mobile-max
			margin-top:20px
			text-align:center
		
	.box-image
		@media $mobile-max
			width:90%
	
	.content-text
		@media $mobile-max
			width:90%
			margin-left:6%
	
	.images-thumbs
		@media $mobile-max
			width:95%
			height: 150px

#equipe	
	@media $mobile-max
		height:750px
		
	.box-team
		@media $mobile-max
			width:80% !important
			margin:20px 20px
			
	.items-team
		@media $mobile-max
			width:90%
			margin-left:5%
			
		h3
			@media $mobile-max
				width:96%
				margin-top:20px
				text-align:center
				
		.line-purple
			@media $mobile-max
				left:37%
				background:$white
				
			@media $small-mobile-max
				left:34%

		.desc-default
			@media $mobile-max
				text-align:center
		
.box-equipe
	@media $mobile-max
		top:71px
		
.outline-image
	position:relative
	height:154px
	width:152px
	background:url('../img/icons/icon-hover-image.png') no-repeat center center, linear-gradient(180deg, rgba(255,255,255,0) 30%, rgba(131,43,109,1) 99%) 
	bottom:164px
	border-radius:0 0 20px 0
	opacity:0
	transition:.2s ease-in-out
	
	&:hover
		transition:.2 ease-in-out
		opacity:1